<mat-toolbar color="primary">
  <span><a [routerLink]="['/']"> MyMessages </a></span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a [routerLink]="['/create']" mat-raised-button color="accent">New post</a>
    </li>
  </ul>
</mat-toolbar>
