<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Post Title"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter a post title.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" placeholder="Post Content" formControlName="content"></textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >Please enter a post title.</mat-error
      >
    </mat-form-field>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <span>
        <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
        <input type="file" #filePicker (change)="onImagePicked($event)">
    </span>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
